/*General rules*/
* {
    box-sizing: border-box; 
}

body {
    background-color: #F1F1F1;
    font-family: "Squada One", cursive;
    margin: 0;
}

footer {
    background-color: #F1F1F1;
    color: #100F0F;
}

/*Navbar rules*/
#navbar {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #100F0F;
    color: #F1F1F1;
    padding: 15px 35px;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    display: inline-block;
}

#navbar a {
    text-decoration: none;
    color: #F1F1F1;
    letter-spacing: 1px;
    margin-left: 20px;
    font-size: 20px;
}

#navbar a:hover {
    background: linear-gradient(90deg, #B9FFFC, #7579E7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    width: 5%;
}

/*Hero section rules*/
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-section h1 {
    font-size: 50px;
}

.hero-section p {
    font-size: 30px;
}

/*About section rules*/
.about-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-section h2 {
    font-size: 45px;
}

.about-section p {
    font-size: 25px;
    text-align: center;
}

/*Portfolio section rules*/
.portfolio-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio-section h2 {
    font-size: 45px;
}

.portfolio-section p {
    font-size: 25px;
}